* {
    margin: 0;
    padding: 0;
    /* list-style: none; */
    /* text-decoration: none; */
    outline: none;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}


/* Alternative custom animation style */
::view-transition-old(root),
::view-transition-new(root) {
    height: auto;
    width: 100vw;
    animation: none;
    mix-blend-mode: normal;
}
html.dark::view-transition-old(root) {
    z-index: 2147483646;
}
html.dark::view-transition-new(root) {
    z-index: 1;
}
html::view-transition-old(root) {
    z-index: 1;
}
html::view-transition-new(root) {
    z-index: 2147483646;
}

:host {
    /* 解决报错时页面展示内容被el-table遮盖的问题 */
    z-index: 10;
}

vite-error-overlay {
    /* 解决页面出错时页面层级混乱问题 */
    z-index: 10000;
}




::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(45, 47, 51, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(55, 55, 55, 0.5);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(55, 55, 55, 0.5);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

:root {
    --base-shadow-box: 0px 2.8px 2.2px -39px rgba(0, 0, 0, 0.076), 0px 6.7px 5.3px -39px rgba(0, 0, 0, 0.109), 0px 12.5px 10px -39px rgba(0, 0, 0, 0.135), 0px 22.3px 17.9px -39px rgba(0, 0, 0, 0.161), 0px 41.8px 33.4px -39px rgba(0, 0, 0, 0.194), 0px 100px 80px -39px rgba(0, 0, 0, 0.27);
    --base-shadow-part: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
    --base-shadow-avatar: 0px 5px 15px 0px rgb(0 0 0 / 15%);
    --base-radius: 6px;
    --base-gap: 16px;
    --base-border: 1px solid var(--el-border-color);
    --base-border-color: var(--el-border-color);
    --base-bgc-white: var(--el-bg-color);
    --base-bgc-gray: var(--el-fill-color-light);
    --base-bgc-menu: #404f65;
    --base-bgc-menu-hover: #4f5f77;
    --base-color-active: #ffd04b;
    --base-color-white: #fafafa;
    --base-color-primary: var(--el-color-primary);
    --base-color-success: var(--el-color-success);
    --base-color-warning: var(--el-color-warning);
    --base-color-danger: var(--el-color-danger);
    --base-color-info: var(--el-color-info);
    --base-text-color-primary: var(--el-text-color-primary);
    --base-text-color-regular: var(--el-text-color-regular);
    --base-text-color-secondary: var(--el-text-color-secondary);
    --base-text-color-placeholder: var(--el-text-color-placeholder);
    --base-text-color-disabled: var(--el-text-color-disabled);
    --base-icon-size: 24px;
    --base-header-height: 50px;
    /* 这里宽度不能小于216，否则element-plus下拉框在多选时会有样式显示问题 */
    --base-input-width: 216px;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("@/assets/css/BebasNeue-Regular.ttf");
}

.el-popper {
    font-size: 14px !important;
    max-width: 50%;
}

.el-popper.base-tooltip-input .el-popper__arrow,
.el-popper.base-tooltip-select .el-popper__arrow,
.el-popper.base-tooltip-tree-select .el-popper__arrow {
    /* 解决文字从有变空时样式问题 */
    transform: none !important;
    left: calc(50% - 5px) !important;
}

.el-message {
    align-items: flex-start;
}

.el-message__content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.el-scrollbar__wrap {
    overflow: auto;
}

.el-popper.is-pure {
    max-height: calc(100% - 40px);
    overflow: auto;
}

/*菜单导航*/
.base-menu {
    border-right: none!important;
}

.base-menu:not(.el-menu--collapse) {
    width: 200px;
}

.base-menu-item:not(.is-active) .el-icon,
.el-sub-menu:not(.is-active) .el-icon {
    color: var(--base-text-color-placeholder);
}

.el-sub-menu__title span {
    position: relative;
    z-index: 10;
}

.base-menu-item,
.base-menu-item:hover,
.el-sub-menu__title:hover {
    background-color: transparent!important;
}

.base-menu-item:before,
.el-sub-menu__title:before {
    content: "";
    display: block;
    margin: 0 10px;
    border-radius: var(--base-radius);
    color: var(--base-bgc-white);
    height: 40px;
    width: calc(100% - 20px);
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--base-bgc-menu-hover);
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

.el-sub-menu .base-menu-item:before {
    top: 5px;
}

.base-menu-item:hover:before,
.el-sub-menu__title:hover:before {
    transform-origin: center left;
    transform: scaleX(1);
}

.base-menu-item span {
    position: relative;
    z-index: 10;
}

.base-menu-item.is-active:before,
.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title:before {
    background-color: var(--base-color-primary);
    transform: scaleX(1);
}

.base-menu-item.is-active:hover:before,
.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title:hover:before {
    background-color: var(--base-color-primary);
    transform: scaleX(0);
}