:root {
    --base-shadow-box: 0px 3px 2px -39px rgba(0, 0, 0, 0.076), 0px 7px 5px -39px rgba(0, 0, 0, 0.109), 0px 12px 10px -39px rgba(0, 0, 0, 0.135), 0px 22px 18px -39px rgba(0, 0, 0, 0.161), 0px 42px 33px -39px rgba(0, 0, 0, 0.194), 0px 100px 80px -39px rgba(0, 0, 0, 0.27);
    --base-shadow-part: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
    --base-shadow-avatar: 0px 5px 15px 0px rgb(0 0 0 / 15%);
    --base-radius: 6px;
    --base-gap: 16px;
    --base-border: 1px solid var(--el-border-color);
    --base-border-color: var(--el-border-color);
    --base-bgc-white: var(--el-bg-color);
    --base-bgc-gray: var(--el-fill-color-light);
    --base-bgc-menu: #404f65;
    --base-bgc-menu-hover: #4f5f77;
    --base-color-active: #ffd04b;
    --base-color-white: #fafafa;
    --base-color-primary: var(--el-color-primary);
    --base-color-success: var(--el-color-success);
    --base-color-warning: var(--el-color-warning);
    --base-color-danger: var(--el-color-danger);
    --base-color-info: var(--el-color-info);
    --base-text-color-primary: var(--el-text-color-primary);
    --base-text-color-regular: var(--el-text-color-regular);
    --base-text-color-secondary: var(--el-text-color-secondary);
    --base-text-color-placeholder: var(--el-text-color-placeholder);
    --base-text-color-disabled: var(--el-text-color-disabled);
    --base-icon-size: 24px;
    --base-header-height: 50px;
    /* 这里宽度不能小于216，否则element-plus下拉框在多选时会有样式显示问题 */
    --base-input-width: 216px;
}